<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vishal.stepupfitness">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OnClick"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".abs"
            android:parentActivityName=".OnClick" />
        <activity android:name=".abs3"
            android:parentActivityName=".OnClick" />
        <activity android:name=".abs2"
            android:parentActivityName=".OnClick"/>
        <activity android:name=".OnClick2"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".arms"
            android:parentActivityName=".OnClick2"/>
        <activity android:name=".arms2"
            android:parentActivityName=".OnClick2"/>
        <activity android:name=".arms3"
            android:parentActivityName=".OnClick2"/>
        <activity android:name=".OnClick3"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".squats"
            android:parentActivityName=".OnClick3"/>
        <activity android:name=".squats2"
            android:parentActivityName=".OnClick3"/>
        <activity android:name=".squats3"
            android:parentActivityName=".OnClick3"/>
        <activity android:name=".OnClick4"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".bs1"
            android:parentActivityName=".OnClick4"/>
        <activity android:name=".bs2"
            android:parentActivityName=".OnClick4"/>
        <activity android:name=".bs3"
            android:parentActivityName=".OnClick4"/>

    </application>

</manifest>